body{
    margin: 0;
    background-color: rgb(71, 141, 206);
    font-family: 'Inconsolata', monospace;
}
nav{
    background-color: rgba(137, 43, 226, 0.301);
    display: flex;
    justify-content: space-between;
   padding: 5px;
}

h1{
   
    margin: 0;
}

ul{
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    list-style: none;

}
li{
    padding: 0 5px;

}

a{
color: black;
text-decoration: none;
}